<html>
    <body>
        <h1>Credit Card Default</h1>
        <form action ="/" method="post">
            <p>Please enter the income: </p>
            <p><input type="number" step="0.01" name="income"></p>
            <p>Please enter the age: </p>
            <p><input type="number" step="1" name="age"></p>
            <p>Please enter the loan amount: </p>
            <p><input type="number" step="0.01" name="loan"></p>
            <p><input type="submit" value="Enter"></p>
        </form> 
        <p>{{result1}}</p>
        <p>{{result2}}</p>
        <p>{{result3}}</p>
        <p>{{result4}}</p>
        <p>{{result5}}</p>
    </body>
</html>